<div class="col-12 align-items-end">
    <h2>Bokomd&ouml;men</h2>
    <ul id="gallery">    
    {{#each CommentList}}        
       <li>
            <a id="" class="image" href="/tabid/1469/Default.aspx?bookid={{bookid}}">
                <img id="" title="{{Booktitle}}" class="OmslagItm" src="{{BookImg}}">
            </a>
        </li>
    {{/each}}
  </ul>
</div>          